USE [master]
GO
/****** Object:  Database [AviationCompany]    Script Date: 4/18/2018 7:53:53 PM ******/
CREATE DATABASE [AviationCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AviationCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AviationCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AviationCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AviationCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AviationCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AviationCompany]
GO
/****** Object:  Login [W2016VM\Administrator]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [W2016VM\Administrator] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\TP_Doctors]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\TP_Doctors] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\Ramesh]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\Ramesh] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\md1]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\md1] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\AW_Users]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\AW_Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\AW_ProdSupervisor]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\AW_ProdSupervisor] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\AW_Developers]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\AW_Developers] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\AW_DBAs]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\AW_DBAs] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\AVCoDBAs]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\AVCoDBAs] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [TC\AVCoAgents]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [TC\AVCoAgents] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [sqlUser]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [sqlUser] WITH PASSWORD=N'LXoJYDViM9goYLMaX9Zh94qZznuhW3mVif9ivOealMU=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [sqlUser] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [RemoteUser]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [RemoteUser] WITH PASSWORD=N'Lm4optMJVfz2uM+n3WWcfESWyHjVpsWR6oJZiVc0t8w=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [RemoteUser] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [RemoteLogin]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [RemoteLogin] WITH PASSWORD=N'FUPCQLnGaWYic+ZiaK7Stmbd6DUsx/N8Fa8/m1g0S+c=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [RemoteLogin] DISABLE
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\MSSQLSERVER]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [NT SERVICE\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'Xx3s09VSNWCNrtSUQpwipFZrwg3xsIqmoxcMQAK+XTs=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'kGLkfqtgY17ybXzVm+3gI4YQVPxfPAKi+7MIQ9EbJK4=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/****** Object:  Login [l_certSignSmDetach]    Script Date: 4/18/2018 7:53:55 PM ******/
CREATE LOGIN [l_certSignSmDetach] FROM CERTIFICATE [_##PDW_SmDetachSigningCertificate##]
GO
ALTER AUTHORIZATION ON DATABASE::[AviationCompany] TO [W2016VM\Administrator]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [W2016VM\Administrator]
GO
ALTER SERVER ROLE [dbcreator] ADD MEMBER [TC\AW_DBAs]
GO
ALTER SERVER ROLE [Rolenserver] ADD MEMBER [TC\AW_DBAs]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [TC\AVCoDBAs]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [l_certSignSmDetach]
GO
USE [AviationCompany]
GO
/****** Object:  User [sqluser]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE USER [sqluser] FOR LOGIN [sqlUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [remoteUser]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE USER [remoteUser] FOR LOGIN [RemoteUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dbauser]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE USER [dbauser] FOR LOGIN [TC\AVCoDBAs]
GO
/****** Object:  User [agentuser]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE USER [agentuser] FOR LOGIN [TC\AVCoAgents]
GO
/****** Object:  DatabaseRole [db_remoteReader]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE ROLE [db_remoteReader]
GO
/****** Object:  DatabaseRole [AVCoRemoteRole]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE ROLE [AVCoRemoteRole]
GO
/****** Object:  DatabaseRole [AVCoAgentRole]    Script Date: 4/18/2018 7:53:56 PM ******/
CREATE ROLE [AVCoAgentRole]
GO
ALTER AUTHORIZATION ON ROLE::[db_remoteReader] TO [dbo]
GO
ALTER AUTHORIZATION ON ROLE::[AVCoRemoteRole] TO [dbo]
GO
ALTER AUTHORIZATION ON ROLE::[AVCoAgentRole] TO [dbo]
GO
ALTER ROLE [db_remoteReader] ADD MEMBER [sqluser]
GO
ALTER ROLE [AVCoRemoteRole] ADD MEMBER [sqluser]
GO
ALTER ROLE [db_remoteReader] ADD MEMBER [remoteUser]
GO
ALTER ROLE [AVCoRemoteRole] ADD MEMBER [remoteUser]
GO
GRANT CONNECT TO [agentuser] AS [dbo]
GO
GRANT CONNECT TO [dbauser] AS [dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
GRANT CONNECT TO [remoteUser] AS [dbo]
GO
GRANT CONNECT TO [sqluser] AS [dbo]
GO
/****** Object:  Schema [FLIGHTS]    Script Date: 4/18/2018 7:53:58 PM ******/
CREATE SCHEMA [FLIGHTS] AUTHORIZATION [dbo]
GO
GRANT SELECT ON SCHEMA::[FLIGHTS] TO [db_remoteReader] AS [dbo]
GO
/****** Object:  Schema [HR]    Script Date: 4/18/2018 7:53:58 PM ******/
CREATE SCHEMA [HR] AUTHORIZATION [dbo]
GO
DENY SELECT ON SCHEMA::[HR] TO [AVCoAgentRole] AS [dbo]
GO
/****** Object:  Schema [SALES]    Script Date: 4/18/2018 7:53:58 PM ******/
CREATE SCHEMA [SALES] AUTHORIZATION [dbo]
GO
/****** Object:  Table [FLIGHTS].[AIRCRAFT]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FLIGHTS].[AIRCRAFT](
	[AC_NUMBER] [char](5) NOT NULL,
	[MOD_CODE] [char](10) NULL,
	[AC_TotAirHrs] [decimal](6, 2) NULL,
	[AC_TotLeftEngHrs] [decimal](6, 2) NULL,
	[AC_TotRightEngHrs] [decimal](6, 2) NULL,
 CONSTRAINT [PK_AC_NUMBER] PRIMARY KEY CLUSTERED 
(
	[AC_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [FLIGHTS].[AIRCRAFT] TO  SCHEMA OWNER 
GO
DENY SELECT ON [FLIGHTS].[AIRCRAFT] TO [sqluser] AS [dbo]
GO
/****** Object:  Table [FLIGHTS].[CHARTER]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FLIGHTS].[CHARTER](
	[CHAR_TRIP] [int] NOT NULL,
	[CHAR_DATE] [datetime] NULL,
	[CHAR_PILOT] [int] NULL,
	[CHAR_COPILOT] [int] NULL,
	[AC_NUMBER] [char](5) NULL,
	[CHAR_DESTINATION] [char](3) NULL,
	[CHAR_DISTANCE] [real] NULL,
	[CHAR_HOURS_FLOWN] [real] NULL,
	[CHAR_HOURS_WAIT] [real] NULL,
	[CHAR_FUEL_GALLONS] [real] NULL,
	[CHAR_OIL_QTS] [int] NULL,
	[CUS_CODE] [int] NULL,
 CONSTRAINT [PK_CHAR_TRIP] PRIMARY KEY CLUSTERED 
(
	[CHAR_TRIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [FLIGHTS].[CHARTER] TO  SCHEMA OWNER 
GO
GRANT SELECT ON [FLIGHTS].[CHARTER] TO [AVCoAgentRole] AS [dbo]
GO
/****** Object:  Table [FLIGHTS].[DESTINATION]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FLIGHTS].[DESTINATION](
	[DestinationCode] [char](3) NOT NULL,
	[DestinationName] [char](15) NOT NULL,
	[DestinationState] [char](2) NULL,
 CONSTRAINT [PK_Destination] PRIMARY KEY CLUSTERED 
(
	[DestinationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [FLIGHTS].[DESTINATION] TO  SCHEMA OWNER 
GO
/****** Object:  Table [FLIGHTS].[MODEL]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FLIGHTS].[MODEL](
	[MOD_CODE] [char](10) NOT NULL,
	[MOD_MANUFACTURER] [char](15) NULL,
	[MOD_NAME] [char](20) NULL,
	[MOD_SEATS] [int] NULL,
	[MOD_CHG_MILE] [numeric](18, 0) NULL,
	[MOD_MANUFACTURER_CITY] [char](20) NULL,
	[MOD_MANUFACTURER_AREACODE] [char](3) NULL,
	[MOD_MANUFACTURER_PHONENUM] [char](7) NULL,
 CONSTRAINT [PK_MODEL] PRIMARY KEY CLUSTERED 
(
	[MOD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [FLIGHTS].[MODEL] TO  SCHEMA OWNER 
GO
/****** Object:  Table [HR].[EMPLOYEE]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[EMPLOYEE](
	[EMP_NUM] [int] NOT NULL,
	[EMP_TITLE] [char](4) NULL,
	[EMP_LNAME] [char](15) NULL,
	[EMP_FNAME] [char](15) NULL,
	[EMP_INITIAL] [char](1) NULL,
	[EMP_DOB] [datetime] NULL,
	[EMP_HIRE_DATE] [datetime] NULL,
	[NumYrsEmp]  AS (datediff(year,[emp_hire_date],getdate())),
 CONSTRAINT [PK__EMPLOYEE__2D5BB15A09DE7BCC] PRIMARY KEY CLUSTERED 
(
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [HR].[EMPLOYEE] TO  SCHEMA OWNER 
GO
/****** Object:  Table [HR].[LICENSE]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[LICENSE](
	[LicenseID] [char](3) NOT NULL,
	[LicenseDescription] [char](25) NULL,
 CONSTRAINT [PK_LICENSE] PRIMARY KEY CLUSTERED 
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [HR].[LICENSE] TO  SCHEMA OWNER 
GO
/****** Object:  Table [HR].[PILOT]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[PILOT](
	[EMP_NUM] [int] NOT NULL,
	[PIL_LICENSE] [char](3) NULL,
	[PIL_MED_TYPE] [char](1) NULL,
	[PIL_MED_DATE] [datetime] NULL,
	[PIL_PT135_DATE] [datetime] NULL,
 CONSTRAINT [PK__PILOT__2D5BB15A0DAF0CB0] PRIMARY KEY CLUSTERED 
(
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [HR].[PILOT] TO  SCHEMA OWNER 
GO
/****** Object:  Table [HR].[PILOTRATINGS]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[PILOTRATINGS](
	[RATINGCODE] [char](4) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[DATEASSIGNED] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_PILOTRATINGS] PRIMARY KEY CLUSTERED 
(
	[RATINGCODE] ASC,
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [HR].[PILOTRATINGS] TO  SCHEMA OWNER 
GO
/****** Object:  Table [HR].[RATING]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[RATING](
	[RATINGID] [char](4) NOT NULL,
	[RATING_DESCRIPTION] [char](40) NOT NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [HR].[RATING] TO  SCHEMA OWNER 
GO
/****** Object:  Table [SALES].[CUSTOMER]    Script Date: 4/18/2018 7:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[CUSTOMER](
	[CUS_CODE] [int] NOT NULL,
	[CUS_LNAME] [char](15) NULL,
	[CUS_FNAME] [char](15) NULL,
	[CUS_INITIAL] [char](1) NULL,
	[CUS_AREACODE] [char](3) NULL,
	[CUS_PHONE] [char](8) NULL,
	[CUS_BALANCE] [numeric](18, 0) NULL,
 CONSTRAINT [PK_CUS_CODE] PRIMARY KEY CLUSTERED 
(
	[CUS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [SALES].[CUSTOMER] TO  SCHEMA OWNER 
GO
DENY SELECT ON [SALES].[CUSTOMER] ([CUS_BALANCE]) TO [AVCoAgentRole] AS [dbo]
GO
ALTER TABLE [FLIGHTS].[AIRCRAFT]  WITH CHECK ADD  CONSTRAINT [FK_AIRCRAFT_MODEL] FOREIGN KEY([MOD_CODE])
REFERENCES [FLIGHTS].[MODEL] ([MOD_CODE])
GO
ALTER TABLE [FLIGHTS].[AIRCRAFT] CHECK CONSTRAINT [FK_AIRCRAFT_MODEL]
GO
ALTER TABLE [FLIGHTS].[CHARTER]  WITH CHECK ADD  CONSTRAINT [FK_CHARTER_AIRCRAFT] FOREIGN KEY([AC_NUMBER])
REFERENCES [FLIGHTS].[AIRCRAFT] ([AC_NUMBER])
GO
ALTER TABLE [FLIGHTS].[CHARTER] CHECK CONSTRAINT [FK_CHARTER_AIRCRAFT]
GO
ALTER TABLE [FLIGHTS].[CHARTER]  WITH CHECK ADD  CONSTRAINT [FK_CHARTER_COPILOT] FOREIGN KEY([CHAR_COPILOT])
REFERENCES [HR].[PILOT] ([EMP_NUM])
GO
ALTER TABLE [FLIGHTS].[CHARTER] CHECK CONSTRAINT [FK_CHARTER_COPILOT]
GO
ALTER TABLE [FLIGHTS].[CHARTER]  WITH CHECK ADD  CONSTRAINT [FK_CHARTER_CUSTOMER] FOREIGN KEY([CUS_CODE])
REFERENCES [SALES].[CUSTOMER] ([CUS_CODE])
GO
ALTER TABLE [FLIGHTS].[CHARTER] CHECK CONSTRAINT [FK_CHARTER_CUSTOMER]
GO
ALTER TABLE [FLIGHTS].[CHARTER]  WITH CHECK ADD  CONSTRAINT [FK_CHARTER_DESTINATION] FOREIGN KEY([CHAR_DESTINATION])
REFERENCES [FLIGHTS].[DESTINATION] ([DestinationCode])
GO
ALTER TABLE [FLIGHTS].[CHARTER] CHECK CONSTRAINT [FK_CHARTER_DESTINATION]
GO
ALTER TABLE [FLIGHTS].[CHARTER]  WITH CHECK ADD  CONSTRAINT [FK_CHARTER_PILOT] FOREIGN KEY([CHAR_PILOT])
REFERENCES [HR].[PILOT] ([EMP_NUM])
GO
ALTER TABLE [FLIGHTS].[CHARTER] CHECK CONSTRAINT [FK_CHARTER_PILOT]
GO
ALTER TABLE [HR].[PILOT]  WITH CHECK ADD  CONSTRAINT [FK_EMP_NUM] FOREIGN KEY([EMP_NUM])
REFERENCES [HR].[EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [HR].[PILOT] CHECK CONSTRAINT [FK_EMP_NUM]
GO
ALTER TABLE [HR].[PILOT]  WITH CHECK ADD  CONSTRAINT [FK_PILOT_LICENSE] FOREIGN KEY([PIL_LICENSE])
REFERENCES [HR].[LICENSE] ([LicenseID])
GO
ALTER TABLE [HR].[PILOT] CHECK CONSTRAINT [FK_PILOT_LICENSE]
GO
ALTER TABLE [HR].[PILOTRATINGS]  WITH CHECK ADD  CONSTRAINT [FK_PILOTRATINGS_PILOT] FOREIGN KEY([EMP_NUM])
REFERENCES [HR].[PILOT] ([EMP_NUM])
GO
ALTER TABLE [HR].[PILOTRATINGS] CHECK CONSTRAINT [FK_PILOTRATINGS_PILOT]
GO
ALTER TABLE [HR].[PILOTRATINGS]  WITH CHECK ADD  CONSTRAINT [FK_PILOTRATINGS_RATINGS] FOREIGN KEY([RATINGCODE])
REFERENCES [HR].[RATING] ([RATINGID])
GO
ALTER TABLE [HR].[PILOTRATINGS] CHECK CONSTRAINT [FK_PILOTRATINGS_RATINGS]
GO
USE [master]
GO
